.ss-alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.ss-mt-5 {
  margin-top: 5em;
}

.ss-btn {
  display: inline-block;
  padding: 24px 32px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: unset;
  color: #dfdfdf;
  /*background: #530000;*/
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.15em;
  transition: width 0.1s linear;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.ss-btn:active {
  transform: scale(0.975);
}

.ss-btn:focus {
  outline: 0;
}

.ss-w-100 {
  width: 100%;
}

.ss-btn-ready:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #095800; */
  transition: width 0.1s linear;
  z-index: -2;
}

.ss-btn-ready:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #11a800;
  transition: width 0.1s linear;
  transition: opacity 0.1s linear;
  z-index: -1;
}
.ss-btn-ready:hover:before {
  width: 100%;
  transition: width 2s linear;
}
.ss-animated-button:active {
  transform: scale(0.975);
}

.ss-animated-button:focus {
  outline: 0;
}

.ss-animated-button {
  background: linear-gradient(-30deg, #530000 50%, #340000 50%);
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: unset;
  transition: width 0.1s linear;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.ss-animated-button.ss-btn-ready {
  background: linear-gradient(-30deg, #0e5300 50%, #093400 50%);
  color: #d5f7d4;
}

.ss-animated-button:not(.ss-btn-ready)::before {
  content: "Not Ready";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  height: 100%;
  /* background-color: #ad8585; */
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.ss-animated-button:hover::before {
  opacity: 0.2;
}

.ss-animated-button span {
  position: absolute;
}

/*
1
*/

.ss-animated-button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}
.ss-animated-button:not(.ss-btn-ready) span:nth-child(1) {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
}
.ss-animated-button.ss-btn-ready span:nth-child(1) {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(14, 43, 8, 0)),
    to(#01ce0b)
  );
  background: linear-gradient(to left, rgba(14, 43, 8, 0), #01ce0b);
}

/*
2
*/
.ss-animated-button span:nth-child(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}
.ss-animated-button:not(.ss-btn-ready) span:nth-child(2) {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
}

.ss-animated-button.ss-btn-ready span:nth-child(2) {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(14, 43, 8, 0)),
    to(#01ce0b)
  );
  background: linear-gradient(to top, rgba(14, 43, 8, 0), #01ce0b);
}

/*
3
*/
.ss-animated-button span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

.ss-animated-button:not(.ss-btn-ready) span:nth-child(3) {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
}

.ss-animated-button.ss-btn-ready span:nth-child(3) {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(14, 43, 8, 0)),
    to(#01ce0b)
  );
  background: linear-gradient(to right, rgba(14, 43, 8, 0), #01ce0b);
}

/*
4
*/
.ss-animated-button span:nth-child(4) {
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}
.ss-animated-button:not(.ss-btn-ready) span:nth-child(4) {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
}

.ss-animated-button.ss-btn-ready span:nth-child(4) {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(14, 43, 8, 0)),
    to(#01ce0b)
  );
  background: linear-gradient(to bottom, rgba(14, 43, 8, 0), #01ce0b);
}

/*
   * Animated CSS button
   * Copyright Alexander Bodin 2019-09-07
   *
   */

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
